h1 {
	font-family: Monaco, monospace;
	font-size: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
}
img {
	

}

html {
	background-image: url('https://tr.rbxcdn.com/180DAY-cee6edfb36f7c1d81e9ab0729d084de5/512/512/Image/Webp/noFilter');
	background-size: contain;
}



h3 {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
	align-items: center;
	border: 5px solid white;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;

}

	
h2 {
	font-family: Monaco, monospace;
	font-size: 60px;
	color: white;
	font-weight: bold;
	text-align: center;
}

a {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;

}

