h1 {
	font-family: Monaco, monospace;
	font-size: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
}
img {
	

}

html {
		background: linear-gradient(to left, #c91616, Black);

}



h3 {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
	align-items: center;
	border: 5px solid white;
	margin: 20 auto;
	padding: 10px;
	border-radius: 10px;
	width: 250px;
	background: linear-gradient(6deg, black,  gray)


}

	
h2 {
	font-family: Monaco, monospace;
	font-size: 60px;
	color: white;
	font-weight: bold;
	text-align: center;
}

a {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;

}
