h2 {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
	align-items: center;
	border: 5px solid white;
	margin: 20 auto;
	padding: 10px;
	border-radius: 10px;
	width: 280px;
	background: linear-gradient(6deg, black,  gray)



}



p  {
	text-align: center;
	font-family: Copperplate, monotone;
	font-size: 30px;
	color: white;



}
h1 {
	font-family: Monaco, monospace;
	font-size: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
}
html {
	background: linear-gradient(to left, #c91616, Black);
}
a {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;
}

