h2 {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
	border: 3px solid white;
	border-radius: 5px;
	margin: 0 auto;
	witdh: 350px;

	
	

	


}



p  {
	text-align: center;
	font-family: Copperplate, monotone;
	font-size: 30px;
	color: white;



}
h1 {
	font-family: Monaco, monospace;
	font-size: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
}
html {
	background-image: url('https://tr.rbxcdn.com/180DAY-cee6edfb36f7c1d81e9ab0729d084de5/512/512/Image/Webp/noFilter');
	background-size: contain;
}
a {
	font-family: Arial, sans-serif;
	font-size: 50px;
	color: white;
	font-weight: bold;
	margin: 20px;


}
